#tile-area {
    width: 70%;
    margin:20px auto;
}
.tile a, .tile a:visited {
    color:#000;
    display: block;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    background-color: #aaa;
    border: 1px solid #555;
}
